<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/" class="link">home</a> |
      <a href="/sneakers/collections" class="link">Collections</a> |
      <a href="/sneakers/kids" class="link">Kids</a> |
      <a href="/sneakers/women" class="link">Women</a> |
      <a href="/sneakers/men" class="link">Men</a> |
      <a href="/users/signin" class="link">Sign in</a> |
      <a href="/users/signup" class="link">Sign up</a> |
    </nav> 
    {{{body}}}
  </body>
</html>
